@using C8S.Common
@using C8S.Common.Extensions
@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-applications-filter-description @CssClass">
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceAround">

        <RadzenText TagName="TagName.Div"
                    TextAlign="TextAlign.Center"
                    TextStyle="TextStyle.Body1">
            <strong>Query:</strong>
            @(Filter.Query ?? SharedConstants.Display.None)
        </RadzenText>
        
        <RadzenText TagName="TagName.Div"
                    TextAlign="TextAlign.Center"
                    TextStyle="TextStyle.Body1">
            <strong>Status:</strong>
            @(Filter.Status?.GetLabel() ?? SharedConstants.Display.None)
        </RadzenText>
        
        <RadzenText TagName="TagName.Div"
                    TextAlign="TextAlign.Center"
                    TextStyle="TextStyle.Body1">
            <strong>Total:</strong>
            @Total.ToString("#,##0")
        </RadzenText>

    </RadzenStack>
</div>