@inherits BaseClientComponent

<div id="@ComponentId" class="c8s-page-list c8s-requests-list @CssClass">

    <Virtualize @ref="@_listerComponent"
                ItemsProvider="@Controller.GetRows"
                Context="request">
        <ItemContent>
            <RadzenCard class="rz-mb-2">
                <RequestListItemDisplayer Request="@request" />
            </RadzenCard>
        </ItemContent>
    </Virtualize>

</div>
