@inherits BaseClientComponent
    
<div id="@RequestsListCoordinator.ListerContainerId" class="c8s-listpage-list c8s-requests-list @CssClass">

    <Virtualize @ref="@_listerComponent"
                ItemsProvider="@Coordinator.GetRows"
                Context="request">
        <ItemContent>
            <RadzenCard class="rz-mb-2">
                <RequestListItemDisplayer Request="@request"
                                          @rendermode="InteractiveWebAssembly"/>
            </RadzenCard>
        </ItemContent>
    </Virtualize>

</div>
