@inherits SC.Common.Razor.Base.BaseRazorComponent
@rendermode InteractiveWebAssembly

@using C8S.AdminApp.Client.Services.Pages
@using C8S.AdminApp.Common
@using SC.Common.Extensions

<div class="c8s-request-displayer @CssClass">
    @* OUTER *@
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween">

        @* DETAILS *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start">

            <RadzenText TagName="TagName.H4"
                        TextStyle="TextStyle.DisplayH4"
                        Text="@Request.ApplicantFullName" />

            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Start"
                         JustifyContent="JustifyContent.Start"
                         Gap="1rem">

                @* COLUMN #1 *@
                <RadzenStack Orientation="Orientation.Vertical"
                             AlignItems="AlignItems.Stretch"
                             JustifyContent="JustifyContent.Start"
                             Gap="0">

                    @* EMAIL *@
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Start"
                                Text="@Request.ApplicantEmail" />

                    @* SCHOOL *@
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Start"
                                Text="@Request.OrganizationName" />

                    @* CITY, STATE *@
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Start"
                                Text="@Request.OrganizationCityState" />

                </RadzenStack>
                @* COLUMN #1 *@

                @* COLUMN #2 *@
                <RadzenStack Orientation="Orientation.Vertical"
                             AlignItems="AlignItems.Stretch"
                             JustifyContent="JustifyContent.Start"
                             Gap="0">

                    @* STATUS *@
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Start"
                                 Gap="0.25rem">

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Caption"
                                    TextAlign="TextAlign.Start"
                                    Text="Status:" />

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Body1"
                                    TextAlign="TextAlign.Start"
                                    Text="@Request.Status.GetLabel()" />

                    </RadzenStack>

                    @* SUBMITTED *@
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Start"
                                 Gap="0.25rem">

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Caption"
                                    TextAlign="TextAlign.Start"
                                    Text="Submitted:" />

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Body1"
                                    TextAlign="TextAlign.Start"
                                    Text="@Request.SubmittedOn.ToString("D")" />

                    </RadzenStack>

                </RadzenStack>
                @* COLUMN #2 *@

            </RadzenStack>
        </RadzenStack>

        @* VIEW BUTTON *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Start">

            <RadzenButton ButtonType="ButtonType.Button"
                          ButtonStyle="ButtonStyle.Primary"
                          Text="View >"
                          Click="@(() => Sender.Send(new OpenPageCommand(
                                     AdminAppConstants.Pages.RequestDetails, Request.RequestId)))" />

        </RadzenStack>
    </RadzenStack>
</div>