@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-detailspage-header c8s-request-header @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        <RadzenText TagName="TagName.Div"
                    TextAlign="TextAlign.Left"
                    TextStyle="TextStyle.DisplayH4"
                    class="flex-grow-1">
            @Coordinator.Details?.PersonFullName
        </RadzenText>
        
        <IconButton ButtonType="ButtonType.Button"
                    ButtonStyle="ButtonStyle.Primary"
                    Variant="Variant.Text"
                    IconString="@C8SConstants.Icons.Close"
                    Click="@Coordinator.ClosePage"
                    class="flex-shrink-0"/>

    </RadzenStack>
</div>
