@inherits SC.Common.Razor.Base.BaseRazorComponent

@using C8S.AdminApp.Client.Services.Pages
@using C8S.AdminApp.Common
@using SC.Common
@using SC.Common.Extensions

<div class="c8s-listitem-displayer c8s-request-displayer @CssClass">
    @* OUTER *@
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween"
                 class="w-100">

        @* DETAILS *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Stretch"
                     JustifyContent="JustifyContent.Normal"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.H4"
                        TextStyle="TextStyle.DisplayH4"
                        Text="@Request.PersonFullName"/>

            <RadzenStack Orientation="Orientation.Horizontal"
                         AlignItems="AlignItems.Start"
                         JustifyContent="JustifyContent.Normal"
                         Gap="1rem"
                         class="w-100">

                @* COLUMN #1 *@
                <RadzenStack Orientation="Orientation.Vertical"
                             AlignItems="AlignItems.Stretch"
                             JustifyContent="JustifyContent.Start"
                             Gap="0"
                             class="c8s-listitem-displayer-column c8s-request-displayer-column">

                    @* EMAIL *@
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Start"
                                Text="@Request.PersonEmail"/>

                    @* SCHOOL *@
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Start"
                                Text="@Request.OrganizationName"/>

                    @* CITY, STATE *@
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Start"
                                Text="@Request.OrganizationCityState"/>

                </RadzenStack>
                @* COLUMN #1 *@

                @* COLUMN #2 *@
                <RadzenStack Orientation="Orientation.Vertical"
                             AlignItems="AlignItems.Stretch"
                             JustifyContent="JustifyContent.Start"
                             Gap="0"
                             class="c8s-listitem-displayer-column c8s-request-displayer-column">

                    @* STATUS *@
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Start"
                                 Gap="0.25rem">

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Caption"
                                    TextAlign="TextAlign.Start"
                                    Text="Status:"/>

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Body1"
                                    TextAlign="TextAlign.Start"
                                    Text="@Request.Status.GetLabel()"/>

                    </RadzenStack>

                    @* SUBMITTED *@
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Start"
                                 Gap="0.25rem">

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Caption"
                                    TextAlign="TextAlign.Start"
                                    Text="Submitted:"/>

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Body1"
                                    TextAlign="TextAlign.Start"
                                    Text="@Request.SubmittedOn.ToString("D")"/>

                    </RadzenStack>

                </RadzenStack>
                @* COLUMN #2 *@

                @* COLUMN #3 *@
                <RadzenStack Orientation="Orientation.Vertical"
                             AlignItems="AlignItems.Stretch"
                             JustifyContent="JustifyContent.Start"
                             Gap="0"
                             class="c8s-listitem-displayer-column c8s-request-displayer-column">

                    @* START DATES *@
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Start"
                                 Gap="0.25rem">

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Caption"
                                    TextAlign="TextAlign.Start"
                                    Text="Start Dates:"/>

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Body1"
                                    TextAlign="TextAlign.Start"
                                    Text="@(String.Join("; ",
                                        Request.StartDates.OrderBy(d => d)
                                            .Select(d => d.ToString("M/d/yyyy"))))" />

                    </RadzenStack>

                    @* COACH CALL *@
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 JustifyContent="JustifyContent.Start"
                                 Gap="0.25rem">

                        <RadzenText TagName="TagName.Span"
                                    TextStyle="TextStyle.Caption"
                                    TextAlign="TextAlign.Start"
                                    Text="Coach Call:"/>

                        <AppointmentDisplayer RequestId="@Request.RequestId"
                                              AppointmentId="@Request.FullSlateAppointmentId"
                                              AppointmentStartsOn="@Request.FullSlateAppointmentStartsOn"
                                              RemoveOuterDiv="true"
                                              @rendermode="InteractiveWebAssembly"/>
                    </RadzenStack>

                </RadzenStack>
                @* COLUMN #3 *@

            </RadzenStack>
        </RadzenStack>

        @* VIEW BUTTON *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Start"
                     class="flex-shrink-0">

            <RadzenButton ButtonType="ButtonType.Button"
                          ButtonStyle="ButtonStyle.Primary"
                          Text="View >"
                          Click="@(() => Sender.Send(new OpenPageCommand(
                                     AdminAppConstants.Pages.RequestDetails,
                                     Request.ToString() ?? SoftCrowConstants.Display.NotSet,
                                     Request.RequestId)))"/>

        </RadzenStack>
    </RadzenStack>
</div>