@inherits BaseClientComponent

@using C8S.AdminApp.Client.Services.Coordinators.Requests
@using C8S.Domain.Features.Requests.Enums
@using SC.Common.Models

<div id="@ComponentId" class="c8s-listpage-filter c8s-requests-filter @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        <RadzenTextBox @bind-Value="@Coordinator.Query"
                       Change="@Coordinator.HandleQueryValueChange"
                       class="flex-grow-1"/>

        <RadzenDropDown @bind-Value="@Coordinator.SelectedStatuses"
                        Data="@Coordinator.StatusDropDownOptions"
                        TextProperty="@nameof(EnumLabel<RequestStatus>.Display)"
                        ValueProperty="@nameof(EnumLabel<RequestStatus>.Value)"
                        Placeholder="Filter by Status"
                        Multiple="true"
                        AllowClear="true"
                        Chips="false"
                        Change="@Coordinator.HandleStatusDropdownChange"
                        class="flex-shrink-0" />
        
        <RadzenDatePicker @bind-Value="@Coordinator.SelectedAfter"
                          AllowClear="true"
                          Change="@Coordinator.HandleAfterDatePickerChange"
                          class="flex-shrink-0" />
        
        <RadzenDatePicker @bind-Value="@Coordinator.SelectedBefore"
                          AllowClear="true"
                          Change="@Coordinator.HandleBeforeDatePickerChange"
                          class="flex-shrink-0" />

        <RadzenButton ButtonType="ButtonType.Button"
                      ButtonStyle="ButtonStyle.Primary"
                      Text="Clear"
                      Click="@Coordinator.ClearFilter"
                      class="flex-shrink-0"/>


        <RadzenDropDown @bind-Value="@Coordinator.SelectedSort"
                        Data="@Coordinator.SortDropDownOptions"
                        TextProperty="@nameof(RequestsListCoordinator.DropDownOption.Display)"
                        ValueProperty="@nameof(RequestsListCoordinator.DropDownOption.Value)"
                        Multiple="false"
                        AllowClear="false"
                        Change="@Coordinator.HandleSortDropdownChange"
                        class="flex-shrink-0" />
    </RadzenStack>
</div>
