@inherits BaseClientComponent
@using SC.Common
@using SC.Common.Extensions

<div id="@ComponentId" class="c8s-detailspage-section c8s-request-call @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        @* ORGANIZATION *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Site"
                        class="flex-shrink-0" />
            
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Start"
                         JustifyContent="JustifyContent.Normal"
                         Gap="0"
                         class="flex-grow-1">

                @if (!String.IsNullOrEmpty(Coordinator.Details?.PlaceName))
                {
                    <div>@Coordinator.Details?.PlaceName</div>
                }
                @if (!String.IsNullOrEmpty(Coordinator.Details?.PlaceAddress1))
                {
                    <div>@Coordinator.Details?.PlaceAddress1</div>
                }
                @if (!String.IsNullOrEmpty(Coordinator.Details?.PlaceAddress2))
                {
                    <div>@Coordinator.Details?.PlaceAddress2</div>
                }
                @if (!String.IsNullOrEmpty(Coordinator.Details?.PlaceCityStateZip))
                {
                    <div>@Coordinator.Details?.PlaceCityStateZip</div>
                }

            </RadzenStack>

        </RadzenStack>

        @* LINK / DE-LINK *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.End"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">
                     
            @if (@Coordinator.Details?.PlaceId != null)
            {
                <IconButton ButtonType="ButtonType.Button"
                            ButtonStyle="ButtonStyle.Primary"
                            IconString="@C8SConstants.Icons.Unlink"
                            Text="Unlink"
                            Click="@(async () => await Coordinator.UnlinkPlace())" />
            }
            else
            {
                <IconButton ButtonType="ButtonType.Button"
                            ButtonStyle="ButtonStyle.Primary"
                            IconString="@C8SConstants.Icons.Link"
                            Text="Link"
                            Click="@(async () => await Coordinator.LinkPlace())" />
            }

        </RadzenStack>

    </RadzenStack>
</div>
