@using SC.Common.Extensions
@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-detailspage-section c8s-request-place @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        @* PERSON *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Coach"
                        class="flex-shrink-0" />
            
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Start"
                         JustifyContent="JustifyContent.Normal"
                         Gap="0"
                         class="flex-grow-1">

                @if (!String.IsNullOrEmpty(Coordinator.Details?.PersonFullName))
                {
                    <div>@Coordinator.Details?.PersonFullName</div>
                }
                @if (!String.IsNullOrEmpty(Coordinator.Details?.PersonEmail))
                {
                    <div>@Coordinator.Details?.PersonEmail</div>
                }
                @if (!String.IsNullOrEmpty(Coordinator.Details?.PersonPhone))
                {
                    <div>@Coordinator.Details?.PersonPhone?.DisplayPhone()</div>
                }
                @if (!String.IsNullOrEmpty(Coordinator.Details?.PersonTimeZone))
                {
                    <div>@Coordinator.Details?.PersonTimeZone</div>
                }

            </RadzenStack>

        </RadzenStack>

        @* LINK / DE-LINK *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.End"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">
                     
            @if (@Coordinator.Details?.PersonId != null)
            {
                <IconButton ButtonType="ButtonType.Button"
                            ButtonStyle="ButtonStyle.Primary"
                            IconString="@C8SConstants.Icons.Unlink"
                            Text="Unlink"
                            Click="@(async () => await Coordinator.UnlinkPerson())" />
            }
            else
            {
                <IconButton ButtonType="ButtonType.Button"
                            ButtonStyle="ButtonStyle.Primary"
                            IconString="@C8SConstants.Icons.Link"
                            Text="Link"
                            Click="@(async () => await Coordinator.LinkPerson())" />
            }

        </RadzenStack>

    </RadzenStack>
</div>
