@inherits BaseRazorComponent
@using SC.Common
@using SC.Common.Extensions

<div id="@ComponentId" class="c8s-detailspage-section c8s-request-call @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        @* CALL *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Call"
                        class="flex-shrink-0" />
                        
            @if (Coordinator.Details?.RequestId != null)
            {
                <AppointmentDisplayer RequestId="@Coordinator.Details.RequestId"
                                      AppointmentId="@Coordinator.Details.FullSlateAppointmentId"
                                      AppointmentStartsOn="@Coordinator.Details.FullSlateAppointmentStartsOn"
                                      RemoveOuterDiv="true" />
            }
            else
            {
                <RadzenButton ButtonType="ButtonType.Button"
                              ButtonStyle="ButtonStyle.Primary"
                              Variant="Variant.Text"
                              Text="Create" />
            }
        </RadzenStack>

        @* BEST PHONE *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Best Phone"
                        class="flex-shrink-0" />
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body1"
                        class="flex-grow-1">
                @(Coordinator.Details?.PersonPhone?.DisplayPhone() ?? SoftCrowConstants.Display.NotSet)
            </RadzenText>
        </RadzenStack>
                 
        @* COACH TYPE *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Coach Type"
                        class="flex-shrink-0" />
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body1"
                        class="flex-grow-1">
                @(Coordinator.Details?.PersonType?.GetLabel() ?? SoftCrowConstants.Display.NotSet)
            </RadzenText>
        </RadzenStack>
                 
        @* SOURCE *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Source"
                        class="flex-shrink-0" />
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body1"
                        class="flex-grow-1">
                @(Coordinator.Details?.ReferenceSource ?? SoftCrowConstants.Display.NotSet)
                @if (!String.IsNullOrEmpty(@Coordinator.Details?.ReferenceSourceOther))
                {
                    @($"({Coordinator.Details?.ReferenceSourceOther})")
                }
            </RadzenText>
        </RadzenStack>

    </RadzenStack>
</div>
