@inherits BaseClientComponent

@using C8S.Domain.Features.Requests.Enums
@using SC.Common.Models

<div id="@ComponentId" class="c8s-page-filter c8s-requests-filter @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        <RadzenTextBox @bind-Value="@Controller.Query"
                       Change="@Controller.HandleQueryValueChange"
                       class="flex-grow-1"/>

        <RadzenDropDown @bind-Value="@Controller.SelectedSort"
                        Data="@Controller.SortDropDownOptions"
                        TextProperty="@nameof(RequestsListController.SortDropDownOption.Display)"
                        ValueProperty="@nameof(RequestsListController.SortDropDownOption.Value)"
                        Multiple="false"
                        AllowClear="false"
                        Change="@Controller.HandleSortDropdownChange"
                        class="flex-shrink-0"/>

        <RadzenDropDown @bind-Value="@Controller.SelectedStatuses"
                        Data="@Controller.StatusDropDownOptions"
                        TextProperty="@nameof(EnumLabel<RequestStatus>.Display)"
                        ValueProperty="@nameof(EnumLabel<RequestStatus>.Value)"
                        Placeholder="Filter by Status"
                        Multiple="true"
                        AllowClear="true"
                        Chips="false"
                        Change="@Controller.HandleStatusDropdownChange"
                        class="flex-shrink-0" />

        <RadzenButton ButtonType="ButtonType.Button"
                      ButtonStyle="ButtonStyle.Primary"
                      Text="Clear"
                      Click="@Controller.ClearFilter"
                      class="flex-shrink-0"/>

    </RadzenStack>
</div>
