@inherits BaseCoordinatedComponent<WPCoachListerCoordinator>
@using C8S.AdminApp.Client.Services.Coordinators.WordPress
@using C8S.WordPress.Abstractions.Models

<div class="c8s-wordpress-coach-lister @CssClass">
    <RadzenDataGrid @ref="@Service.DataGrid" 
                    @bind-Value="@Service.SelectedCoaches"
                    Data="@Service.Coaches"
                    Count="@Service.TotalCount"
                    LoadData="@Service.LoadCoaches"
                    SelectionMode="DataGridSelectionMode.Single"
                    RowSelect="@(async (WPUserDetails args) => await Service.HandleRowSelected(args))"
                    IsLoading="@Service.IsLoading">
        <Columns>
            <RadzenDataGridColumn Title="Id" 
                                  Property="@nameof(WPUserDetails.Id)"
                                  TextAlign="TextAlign.Center"
                                  Width="80px" />
            <RadzenDataGridColumn Title="Name" 
                                  Property="@nameof(WPUserDetails.Name)"
                                  TextAlign="TextAlign.Left"
                                  Width="160px" />
            <RadzenDataGridColumn Title="Email" 
                                  Property="@nameof(WPUserDetails.Email)"
                                  TextAlign="TextAlign.Left"
                                  Width="240px" />
            <RadzenDataGridColumn Title="Roles">
                <Template Context="coach">
                    @String.Join(",", coach.RoleSlugs)
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>