@inherits BaseCoordinatedComponent<WPUserCreatorCoordinator>
@using C8S.AdminApp.Client.Services.Coordinators.WordPress
@using C8S.Domain.Features.Offers.Enums
@using C8S.Domain.Features.Persons.Models
@using SC.Common.Models

<div class="c8s-wordpress-user-creator @CssClass">
    <RadzenStack Orientation="Orientation.Vertical"
                 AlignItems="AlignItems.Stretch"
                 JustifyContent="JustifyContent.Normal"
                 Gap="0.5rem">

        <RadzenCheckBoxList Value="@Service.KitYears"
                            ValueChanged="@(async (v) => await Service.SetSkuYears(v))"
                            TValue="KitYearOption"
                            Data="@(EnumLabel<KitYearOption>.GetAllEnumLabels())"
                            ValueProperty="@nameof(EnumLabel<KitYearOption>.Value)"
                            TextProperty="@nameof(EnumLabel<KitYearOption>.Display)"
        />

        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Normal"
                     Gap="0.5rem">

            <RadzenDropDownDataGrid @ref="@Service.DataGrid"
                                    @bind-Value="@Service.SelectedPerson"
                                    TValue="PersonWithOrders"
                                    Count="@Service.TotalPersons"
                                    Data="@Service.Persons"
                                    LoadData="@Service.LoadPersonsData"
                                    IsLoading="@Service.IsLoading"
                                    TextProperty="@nameof(Person.FullName)"
                                    Density="Density.Compact"
                                    PageSize="10"
                                    class="flex-grow-1">
                <Columns>
                    <RadzenDropDownDataGridColumn Title="Name & Email">
                        <Template Context="person">
                            <RadzenStack Orientation="Orientation.Vertical"
                                         AlignItems="AlignItems.Start"
                                         JustifyContent="JustifyContent.Normal"
                                         Gap="0"
                                         class="w-100">
                                <RadzenText TagName="TagName.Div"
                                            TextStyle="TextStyle.Body1"
                                            Text="@person.FullName"
                                            class="rz-mb-0" />
                                <RadzenText TagName="TagName.Div"
                                            TextStyle="TextStyle.Body2"
                                            Text="@person.Email" />
                            </RadzenStack>
                        </Template>
                    </RadzenDropDownDataGridColumn>
                    <RadzenDropDownDataGridColumn Title="Kits">
                        <Template Context="person">
                            
                            <RadzenText TagName="TagName.Div"
                                        TextStyle="TextStyle.Body1"
                                        style="white-space: normal;"
                                        class="rz-mb-0">
                                @(String.Join(", ", ((PersonWithOrders)person)
                                    .ClubPersons
                                    .Select(cp => cp.Club.Kit.Key)
                                    .Distinct()
                                    .OrderBy(k => k)))
                            </RadzenText>
                        </Template>
                    </RadzenDropDownDataGridColumn>
                </Columns>
            </RadzenDropDownDataGrid>

            <RadzenButton ButtonType="ButtonType.Button"
                          ButtonStyle="ButtonStyle.Primary"
                          Text="Create in WordPress"
                          Click="@(async () => await Service.CreateWordPressUser())"
                          IsBusy="@Service.IsCreating"
                          Disabled="@(Service.SelectedPerson == null)"
                          class="flex-shrink-0" />

        </RadzenStack>
    </RadzenStack>
</div>