@inherits BaseCoordinatedComponent<WPUserCreatorCoordinator>
@using C8S.AdminApp.Client.Services.Coordinators.WordPress
@using C8S.Domain.Features.Persons.Models

<div class="c8s-wordpress-user-creator @CssClass">
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Normal"
                 Gap="0.5rem">
        
        <RadzenDropDownDataGrid @ref="@Service.DataGrid" 
                                Value="@Service.SelectedPerson"
                                ValueChanged="@(async (Person p) => await Service.SetSelectedPerson(p))"
                                Count="@Service.TotalPersons"
                                Data="@Service.Persons"
                                LoadData="@Service.LoadPersonsData"
                                IsLoading="@Service.IsLoading"
                                TextProperty="@nameof(Person.FullName)"
                                class="flex-grow-1">
            <Columns>
                <RadzenDropDownDataGridColumn Title="Id"
                                              Property="@nameof(Person.PersonId)"
                                              Width="100px" />
                <RadzenDropDownDataGridColumn Title="Full Name"
                                              Property="@nameof(Person.FullName)" />
                <RadzenDropDownDataGridColumn Title="Email"
                                              Property="@nameof(Person.Email)" />
            </Columns>
        </RadzenDropDownDataGrid>
                       
        <RadzenButton ButtonType="ButtonType.Button"
                      ButtonStyle="ButtonStyle.Primary"
                      Text="Create in WordPress"
                      Click="@(async () => await Service.CreateWordPressUser())"
                      IsBusy="@Service.IsCreating"
                      Disabled="@(Service.SelectedPerson == null)"
                      class="flex-shrink-0"/>

    </RadzenStack>
</div>