@using C8S.Common
@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-sidebar-menu @CssClass">
    <RadzenStack Orientation="Orientation.Vertical"
                 AlignItems="AlignItems.Start"
                 JustifyContent="JustifyContent.SpaceBetween"
                 Gap="0"
                 class="w-100">
        <SidebarMenuItem Icon="@SharedConstants.Icons.Application"
                         Text="Applications"
                         Page="/applications" />
        <SidebarMenuItem Icon="@SharedConstants.Icons.School"
                         Text="Organizations"
                         Page="/organizations" />
        <SidebarMenuItem Icon="@SharedConstants.Icons.Coach"
                         Text="Coaches"
                         Page="/coaches" />
    </RadzenStack>
</div>