@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-sidebar-submenu-item @CssClass @(_isSelected ? SelectedClass : null)"
     @onclick="@(async () => await HandleComponentClicked())">
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween"
                 Gap="0.5rem">
        <RadzenText TagName="TagName.Div"
                    TextAlign="TextAlign.Start"
                    TextStyle="TextStyle.Body1"
                    Text="@Text" 
                    class="flex-grow-1"/>
        <RadzenButton ButtonType="ButtonType.Button"
                      ButtonStyle="ButtonStyle.Primary"
                      Variant="Variant.Text"
                      Text="X"
                      Click="@(async () => await CloseButtonClicked.InvokeAsync())"
                      class="flex-shrink-0" />
    </RadzenStack>
</div>