@inherits BaseRazorComponent
@using SC.Common.Extensions

<div class="c8s-listitem-displayer c8s-note-displayer @CssClass">

    <RadzenStack Orientation="Orientation.Vertical"
                 AlignItems="AlignItems.Start"
                 JustifyContent="JustifyContent.Stretch"
                 class="w-100">

        @* CONTENT & DELETE *@
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.SpaceBetween"
                     class="w-100">

            @* CONTENT *@
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body1"
                        class="flex-grow-1">
                @((MarkupString)Details.Content)
            </RadzenText>
            
            @* EDIT *@
            <IconButton ButtonType="ButtonType.Button"
                        ButtonStyle="ButtonStyle.Info"
                        IconString="@C8SConstants.Icons.Edit"
                        Text=""
                        Click="@(async () => await HandleEditClicked(Details))"/>
            
            @* DELETE *@
            <IconButton ButtonType="ButtonType.Button"
                        ButtonStyle="ButtonStyle.Danger"
                        IconString="@C8SConstants.Icons.Delete"
                        Text=""
                        Click="@(async () => await HandleDeleteClicked(Details))"/>

        </RadzenStack>

        @* INFO *@
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween"
                     class="w-100">

            @* DATE/TIME *@
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body2"
                        class="flex-shrink-0">
                @Details.CreatedOn.ToLocalTime().Date.ToOptionalYearString()
                @Details.CreatedOn.ToLocalTime().ToString("h:mm tt")
            </RadzenText>

            @* AUTHOR *@
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body2"
                        class="flex-shrink-0">
                @Details.Author
            </RadzenText>

        </RadzenStack>

    </RadzenStack>
</div>