@page "/request/{RequestId:int}"
@inherits BaseOwningRazorPage<RequestDetailsCoordinator>
@rendermode InteractiveWebAssembly

@using C8S.AdminApp.Client.Services.Coordinators.Requests
@using C8S.Domain.Enums

<WaitingPageContainer HideDuringPreRender="true">

    <RadzenStack Orientation="Orientation.Vertical"
                 AlignItems="AlignItems.Stretch"
                 JustifyContent="JustifyContent.Stretch"
                 Gap="1.0rem"
                 class="w-100 h-100">

        <RequestHeader Coordinator="@Service"
                       CssClass="flex-shrink-0"
                       @rendermode="InteractiveWebAssembly" />

        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Stretch">

            <RadzenCard class="flex-grow-1">
                <RequestInfoSection Coordinator="@Service" />
                <hr />
                <RequestCallSection Coordinator="@Service" />
                <hr />
                <RequestPlaceSection Coordinator="@Service" />
            </RadzenCard>

            <div class="flex-shrink-0" style="width: 30%">

                <RadzenStack Orientation="Orientation.Horizontal"
                             AlignItems="AlignItems.Start"
                             JustifyContent="JustifyContent.SpaceBetween">

                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.DisplayH5"
                                TextAlign="TextAlign.Center"
                                Text="Notes"
                                class="flex-grow-1"/>

                </RadzenStack>
                
                <hr />
                
                <NoteAdder RequestCoordinator="@Service" />

                <hr />

                <NotesList RequestCoordinator="@Service" />
            </div>

        </RadzenStack>

    </RadzenStack>
</WaitingPageContainer>