@page "/config"
@using C8S.Common.Extensions
@using C8S.Common.Models
@inherits C8S.Common.Razor.Base.BaseRazorPage

<PageTitle>Configuration</PageTitle>


<h3>Connections</h3>
<div>
    <span style="font-weight: bold">@nameof(Connections.AzureStorage)</span>: <span>@_connections.AzureStorage.Obscure()</span>
</div>
<div>
    <span style="font-weight: bold">@nameof(Connections.ApplicationInsights)</span>: <span>@_connections.ApplicationInsights.Obscure()</span>
</div>
<div>
    <span style="font-weight: bold">@nameof(Connections.Database)</span>: <span>@_connections.Database.Obscure()</span>
</div>

@*
   <h3>Endpoints</h3>
   <div>
       <span style="font-weight: bold">@nameof(Endpoints.AzureStorage)</span>: <span>@_endpoints.AzureStorage.Obscure()</span>
   </div>
   
*@
