@inherits BaseCoordinatedComponent<SidebarItemCoordinator>

<div id="@ComponentId" class="c8s-sidebar-item @(Service.IsSelected ? "selected" : null) @CssClass">
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Left"
                 onclick="@(async () => await Service.HandleClicked())"
                 class="w-100">

        <RadzenText TagName="TagName.Div"
                    TextStyle="TextStyle.Body1"
                    TextAlign="TextAlign.Left"
                    Text="@Service.Display"
                    class="c8s-sidebar-item-display" />
        
        <IconButton ButtonType="ButtonType.Button"
                    ButtonStyle="ButtonStyle.Warning"
                    Variant="Variant.Text"
                    IconString="@C8SConstants.Icons.Close"
                    Click="@(async () => await Service.HandleCloseClicked())"/>

    </RadzenStack>
</div>