@inherits BaseCoordinatedComponent<SidebarGroupCoordinator>

<div id="@ComponentId" class="c8s-sidebar-group @(_isSelected ? "selected" : null) @CssClass">
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Left"
                 onclick="@(async () => await Clicked.InvokeAsync())"
                 class="w-100">
                 
        <IconDisplay IconString="@IconString"
                     CssClass="c8s-sidebar-group-icon" />

        <RadzenText TagName="TagName.Div"
                    TextStyle="TextStyle.Body1"
                    TextAlign="TextAlign.Left"
                    Text="@Display"
                    class="c8s-sidebar-group-display" />

    </RadzenStack>
</div>