@inherits BaseRazorListFilter<TicketsListCoordinator, TicketListItem>
@using C8S.Domain.Features.Tickets.Models
@using C8S.AdminApp.Client.Services.Coordinators.Tickets

<div id="@ComponentId" class="c8s-listpage-filter c8s-tickets-listpage-filter @CssClass">
    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        <RadzenTextBox @bind-Value="@Coordinator.Query"
                       Change="@Coordinator.HandleQueryValueChange"
                       class="flex-grow-1" />

        <IconButton ButtonType="ButtonType.Button"
                    ButtonStyle="ButtonStyle.Danger"
                    IconString="@C8SConstants.Icons.Clear"
                    Text=""
                    Click="@Coordinator.ClearFilter"
                    class="flex-shrink-0" />
    </RadzenStack>
</div>