<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets["fonts/GrilledCheese-Embedded.css"]" />
    <link rel="stylesheet" href="@Assets["fonts/OpenSans-Embedded.css"]" />

    <!-- REMOTE, DON'T USE VERSIONING -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a8314919ac.js" crossorigin="anonymous"></script>

    <RadzenTheme Theme="material" @rendermode="InteractiveWebAssembly" />

    <link rel="stylesheet" href="@Assets["./_content/SC.Common.Razor/css/blazor-default.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Radzen.Blazor/css/material-base.css"]" />
    <link rel="stylesheet" href="@Assets["css/crazy8s-admin.css"]" />
    <link rel="stylesheet" href="@Assets["C8S.AdminApp.styles.css"]" />

    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    
    <!-- REMOTE, DON'T USE VERSIONING -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- DO NOT USE Assets[] FOR THIS -->
    <script src="_framework/blazor.web.js"></script>

    <!-- DOESN'T NEED Assets[] VERSIONING -->
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>

    <script src="@Assets["_content/SC.Common.Razor/js/softcrow-common.js"]"></script>
</body>

</html>
